<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StartServlet</servlet-name>
        <servlet-class>controller.StartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.web.login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.web.login.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserServlet</servlet-name>
        <servlet-class>controller.admin.management.user.ManageUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUserServlet</servlet-name>
        <servlet-class>controller.admin.management.user.RemoveUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUserServlet</servlet-name>
        <servlet-class>controller.admin.management.user.InsertUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>controller.admin.management.user.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductServlet</servlet-name>
        <servlet-class>controller.admin.management.product.ManageProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProductServlet</servlet-name>
        <servlet-class>controller.admin.management.product.InsertProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProduceServlet</servlet-name>
        <servlet-class>controller.admin.management.product.RemoveProduceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>controller.admin.management.product.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUserMealServlet</servlet-name>
        <servlet-class>controller.admin.management.usermeal.InsertUserMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserMealServlet</servlet-name>
        <servlet-class>controller.admin.management.usermeal.UpdateUserMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUserMealServlet</servlet-name>
        <servlet-class>controller.admin.management.usermeal.RemoveUserMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserMealServlet</servlet-name>
        <servlet-class>controller.admin.management.usermeal.ManageUserMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserMealDAO</servlet-name>
        <servlet-class>dao.UserMealDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSpecMealProduct</servlet-name>
        <servlet-class>controller.admin.management.specmeal.InsertSpecMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSpecMealProduct</servlet-name>
        <servlet-class>controller.admin.management.specmeal.ManageSpecMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveSpecMealServlet</servlet-name>
        <servlet-class>controller.admin.management.specmeal.RemoveSpecMealServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartServlet</servlet-name>
        <url-pattern>/StartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserServlet</servlet-name>
        <url-pattern>/ManageUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUserServlet</servlet-name>
        <url-pattern>/RemoveUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertUserServlet</servlet-name>
        <url-pattern>/InsertUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductServlet</servlet-name>
        <url-pattern>/ManageProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProductServlet</servlet-name>
        <url-pattern>/InsertProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProduceServlet</servlet-name>
        <url-pattern>/RemoveProduceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertUserMealServlet</servlet-name>
        <url-pattern>/InsertUserMealServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserMealServlet</servlet-name>
        <url-pattern>/UpdateUserMealServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUserMealServlet</servlet-name>
        <url-pattern>/RemoveUserMealServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserMealServlet</servlet-name>
        <url-pattern>/ManageUserMealServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserMealDAO</servlet-name>
        <url-pattern>/UserMealDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSpecMealProduct</servlet-name>
        <url-pattern>/InsertSpecMealProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSpecMealProduct</servlet-name>
        <url-pattern>/ManageSpecMealProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveSpecMealServlet</servlet-name>
        <url-pattern>/RemoveSpecMealServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>jsp/home/login.jsp</welcome-file>
        <welcome-file>jsp/home.jsp</welcome-file>
        <welcome-file>jsp/home/home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
